[Unit]
Description=Start vpn-service-daemon for vpn-service

[Service]
User=root
Group=root
Type=dbus
BusName=org.tizen.vpnsvc
RemainAfterExit=yes
ExecStart=/usr/bin/vpnsvc-daemon
Restart=always
RestartSec=0
CapabilityBoundingSet=~CAP_MAC_ADMIN
CapabilityBoundingSet=~CAP_MAC_OVERRIDE
